{{ header }}
<div id="bodycon">
  <div class="container  home_max ">
     <div class="main-container col1-layout">
        <div class="" id="">
           <div class="main">
              <div class="col-main ">
                  <div class="error">
                  <p>{{ text_error }}</p>
                  <div class="buttons clearfix">
                    <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
                  </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
{{ footer }}
