{{header}}
<div id="bodycon">
   <div class="container   ">
      <div class="main-container col1-layout">
         <div class="contentBox contentWithSidebar productDetails " id="">
            <div class="main">
               <!-- <div class="breadcrumbs">
                  <ul>
                    <li class="home"> <a href="" title="Go to Home Page">Home</a> <span> &gt; </span> </li>
                    <li> <strong>Define</strong> </li>
                  </ul>
                  </div> -->
               <div class="col-main ">
                  <div class="contact-us">
                     <div class="rwsform">
                        <!--<div class="left"><img alt="" src=""></div>-->
                        <div class="contact_us_page">
                           <div class="page-title">
                              <img src="https://steeloncall.com/skin/frontend/rwd/steeloncall/images/contact_us_icon.png" alt="Steeloncall">
                              <h1>{{heading_title}}</h1>
                           </div>
                           <div class="contact_us_form">
                              <div id="messages_product_view"></div>
                              <form action="{{action}}" id="contactForm" method="post" class="scaffold-form">
                                 <div class="fieldset">
                                    <div  class="caddress">
                                       <h3>{{store}}</h3>
                                       <div class="address">
                                          <h4>Thông tin liên hệ:</h4>
                                          <p>{{address}}</p>
                                          <p>{{telephone}}</p>
                                          <p>{{config_email}}</p>
                                       </div>
                                       <div class="map">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d245588.31444051798!2d108.10673343747041!3d15.8924333898782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142198a83dcdf43%3A0x53b1a0ade0c3b907!2zQ8O0bmcgVHkgQ3AgxJDhuqd1IFTGsCBYw6J5IEThu7FuZyBUaMOpcCBOaMOibiBMdeG6rXQ!5e0!3m2!1sen!2s!4v1621927305478!5m2!1sen!2s" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                       </div>

                                    </div>
                                    <div  class="cform">
                                       <h3>Gởi Liên Hệ</h3>
                                       <!-- <h2 class="legend"></h2>-->
                                       <ul class="form-list">
                                          <li>
                                             <div class="field">
                                                <div class="input-box">
                                                   <input placeholder="Họ tên" name="name" id="name" title="Name" value="" class="input-text required-entry" type="text" autocomplete="off" />
                                                </div>
                                             </div>
                                          </li>
                                          <li>
                                             <div class="input-box">
                                                <input placeholder="Email" name="email" id="email" title="Email" value="" class="input-text required-entry validate-email" type="email" autocapitalize="off" autocorrect="off" spellcheck="false" autocomplete="off" />
                                             </div>
                                          </li>
                                          <li>
                                             <div class="input-box">
                                                <input placeholder="Số điện thoại" name="telephone"   id="telephone" title="Telephone" value="" maxlength="10" minlength="10" class="required-entry input-text" type="tel" autocomplete="off" />
                                                <span id="error" style="color: Red; display: none; font-size:12px;">* Input digits (0 - 9)</span>
                                             </div>
                                          </li>
                                          <li>
                                             <div class="input-box">
                                                <textarea name="comment" id="comment" title="Comment" class="required-entry input-text" cols="5" rows="3"></textarea>
                                             </div>
                                          </li>
                                       </ul>
                                       <div class="buttons-set">
                                          <!-- <span class="reqd"></span> -->
                                          <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
                                          <button type="submit" title="Submit" class="cs"><span>Gởi</span></button>
                                       </div>
                                    </div>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
                  <script type="text/javascript">
                     //<![CDATA[
                         var contactForm = new VarienForm('contactForm', true);
                     //]]>
                  </script>
                  <script>
                     jQuery(document).ready(function($){
                        $('div').removeClass('content-left');
                        $('div').removeClass('content-right');
                       });
                  </script>
                  <script>
                     jQuery(function ($) {
                         $("#telephone").on("keyup", function (e) {
                             var keyCode = e.which ? e.which : e.keyCode
                             var key_num = e.key;
                             var tel_no = $('#telephone').val();
                             if (tel_no.length==10 && tel_no.charAt(0)<6) {
                                 
                                 tel_no = tel_no.substr(1);
                            $('#telephone').val(tel_no);
                              $("#error").css("display", "inline");
                             $("#error").html('Enter valid phone number');
                             $('#telephone').removeClass("validation-passed");
                             $('#telephone').addClass("validation-failed")
                             return false;
                         }else{
                         $('#telephone').removeClass("validation-failed");
                         $('#telephone').addClass("validation-passed");
                         }
                             
                         });
                     $("#telephone").on("keypress", function (e) {
                     
                          var keyCode = e.which ? e.which : e.keyCode
                          var key_num = e.key;
                         var tel_no = $('#telephone').val();
                          
                         
                         
                          if(tel_no.length==0 && (keyCode>=48 && keyCode<=53)){
                            
                            $("#error").css("display", keyCode ? "block" : "inline");
                             $("#error").html('Enter valid phone number');
                             return false;
                             
                         }else if (tel_no.length>0 && tel_no.charAt(0)<6) {
                            
                              $("#error").css("display", "inline");
                             $("#error").html('Enter valid phone number');
                             $('#telephone').addClass("validation-failed")
                             return false;
                         }else if(tel_no.length>9  ){
                           
                             $("#error").html('Enter valid phone number');
                                  return false;
                                  
                        }else{
                            
                            
                              var ret = ((keyCode >= 48 && keyCode <= 57)) || (keyCode == 37 || keyCode == 39 || keyCode == 63272 || keyCode == 8 || keyCode == 45 || keyCode == 189);
                                     $("#error").css("display", ret ? "none" : "inline");
                                     return ret;
                                 
                         }
                          });  
                     /*$("#telephone").on("keypress", function (e) {
                     
                          var keyCode = e.which ? e.which : e.keyCode
                         var tel_no = $('#telephone').val();
                         
                         if(tel_no.length==0 && (keyCode>=48 && keyCode<=53)){
                             
                            $("#error").css("display", keyCode ? "block" : "inline");
                             $("#error").html('Enter valid phone number');
                             return false;
                             
                         }else if(tel_no.length>9){
                                  return false;
                                  
                        }else{
                              var ret = ((keyCode >= 48 && keyCode <= 57)) || (keyCode == 37 || keyCode == 39 || keyCode == 63272 || keyCode == 8 || keyCode == 45 || keyCode == 189);
                                     $("#error").css("display", ret ? "none" : "inline");
                                     return ret;
                                 
                         }
                          });*/    
                        });             
                                    
                  </script>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{{footer}}