<!DOCTYPE html>
<!--[if lt IE 7 ]> 
<html lang="en" id="top" class="no-js ie6">
   <![endif]-->
   <!--[if IE 7 ]>    
   <html lang="en" id="top" class="no-js ie7">
      <![endif]-->
      <!--[if IE 8 ]>    
      <html lang="en" id="top" class="no-js ie8">
         <![endif]-->
         <!--[if IE 9 ]>    
         <html lang="en" id="top" class="no-js ie9">
            <![endif]-->
            <!--[if (gt IE 9)|!(IE)]><!-->
            <html lang="en" id="top" class="no-js">
               <!--<![endif]-->
               <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
               <head>
                  <!-- Google Tag Manager -->
 
                  <!-- End Google Tag Manager -->
                  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                  <title>{{title}}</title>
                  <base href="{{ base }}"/>
                  <meta property="og:title" content="{{title}}" />
                  <meta property="og:image" content="{{images}}" />
                  <meta property="og:image:secure_url" content="{{images}}"/>
                  {% if keywords %}
                     <meta name="keywords" content= "{{keywords}}" />
                  {% endif %}
                  {% if description %}
                  <meta name="description" content="{{description}}" />
                  {% endif %}
                  <link rel="canonical" href="{{base}}" />
                  <meta property="og:site_name" content="{{title}}" />
                  <meta property="og:type" content="e-commerce" />
                  <meta property="og:url" content="{{base}}" />
                  <meta property="og:description" content="{{description}}" />
                  <meta property="og:image:alt" content="{{title}}" />
                  <meta property="og:updated_time" content="2021-05-19:27:48+05:30" />
                  <meta name="copyright" content="NhanLuat" />
                  <meta name="msnbot" content="INDEX, FOLLOW" />
                  <meta name="googlebot" content="INDEX, FOLLOW" />
                  <meta name="allow-search" content="yes" />
                  <meta name="revisit-after" content="daily" />
                  <meta name="site" content="{{description}}" />
                  <meta name="robots" content="INDEX,FOLLOW" />
                  <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0' >
                  <!--[if lt IE 7]>
                  <script type="text/javascript">
                     //<![CDATA[
                         var BLANK_URL = 'https://steeloncall.com/js/blank.html';
                         var BLANK_IMG = 'https://steeloncall.com/js/spacer.gif';
                     //]]>
                  </script>
                  <![endif]-->

                  <!-- Facebook Pixel Code -->

                  <!-- End Facebook Pixel Code -->
                  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
                  <link rel="stylesheet" type="text/css" href="catalog/view/theme/muathep.com/css/magebuzz/catsidebarnav/click.css" media="all" />
                  <link rel="stylesheet" type="text/css" href="catalog/view/theme/muathep.com/css/main_styles.css" media="all" />
                  <link rel="stylesheet" type="text/css" href="catalog/view/theme/muathep.com/css/website.css" media="all" />
                  <link rel="stylesheet" type="text/css" href="catalog/view/theme/muathep.com/css/extended_styles.css" media="all" />
                  <link rel="stylesheet" type="text/css" href="catalog/view/theme/muathep.com/css/mobile.css" media="all" />
                  <link rel="stylesheet" type="text/css" href="catalog/view/theme/muathep.com/css/style.css" media="all" />
                  <link rel="stylesheet" type="text/css" href="catalog/view/theme/muathep.com/css/site.css" media="all" />
                  <link rel="stylesheet" type="text/css" href="catalog/view/theme/muathep.com/css/marketplace_mobile.css" media="all" />
                  <link rel="stylesheet" type="text/css" href="catalog/view/theme/muathep.com/css/custom_popup.css" media="all" />
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/prototype/prototype.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/lib/jquery/jquery-1.10.2.min.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/lib/jquery/noconflict.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/lib/ccard.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/prototype/validation.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/scriptaculous/slider.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/varien/js.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/varien/form.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/marketplace/jquery.simplefileinput.min.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/tiny_mce/tiny_mce.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/modernizr.custom.min.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/selectivizr.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/enquire.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/app.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/jquery.cycle2.min.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/jquery.cycle2.swipe.min.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/slideshow.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/pdf.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/css/mmenu/mmenu.polyfills.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/css/mmenu/mmenu.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/scripts.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/jquery.bxslider.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/jquery.bxslider.min.js"></script>
                  <script type="text/javascript" src="catalog/view/theme/muathep.com/js/jquery.flexslider.js"></script>
                  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
                  <script src="https://kit.fontawesome.com/92ed393488.js" crossorigin="anonymous"></script>
                  <link rel="preconnect" href="https://fonts.gstatic.com">
                  <link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
                  <!--[if  (lte IE 8) & (!IEMobile)]>
                  <link rel="stylesheet" type="text/css" href="https://steeloncall.com/skin/frontend/base/default/css/styles-ie8.css" media="all" />
                  <link rel="stylesheet" type="text/css" href="catalog/view/theme/muathep.com/css/madisonisland-ie8.css" media="all" />
                  <![endif]-->
                  <!--[if (gte IE 9) | (IEMobile)]><!-->
                  <link rel="stylesheet" type="text/css" href="catalog/view/theme/muathep.com/css/styles.css" media="all" />
                  <link rel="stylesheet" type="text/css" href="catalog/view/theme/muathep.com/css/madisonisland.css" media="all" />
                  <!--<![endif]-->
                  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
               </head>
               <body class=" cms-index-index cms-home">
                  <!-- Google Tag Manager (noscript) -->
                  
                  <!-- End Google Tag Manager (noscript) -->
                  <div class="wrapper">
                     <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
                     <link href="https://fonts.googleapis.com/css2?family=Arimo&amp;display=swap" rel="stylesheet">
                     <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">
                     <link rel="stylesheet" href="catalog/view/theme/muathep.com/css/slimmenu.min.css">
                     <link rel="stylesheet" href="catalog/view/theme/muathep.com/css/flexslider.css">
                     <div id="navbar">
                        <div class="header_top">
                           <div class="container">
                              <div class="header_top_content">
                                 <marquee direction="left">
                                    <p>
                                       <ul class="pricesteeltoday">
                                          {% if price_news  %}
                                          {% for news in price_news %}
                                             <li>{{news.name}}</li>
                                          {% endfor %}
                                          {% endif %}
                                       </ul>
                                    </p>
                                 </marquee>
                              </div>
                           </div>
                        </div>
                        <div class="hot_news">
                           <div class="hot_news_title"><i class="fas fa-newspaper"></i> <span class="d-none d-sm-block">Tin hot ngành thép: </span></div>
                           <marquee direction="left" onmouseover="stop()" onmouseout="start()">
                              {% if newss  %}
                              {% for news in newss %}
                                 <a href="{{news.href}}">{{news.name}}</a>
                              {% endfor %}
                              {% endif %}
                           </marquee>
                        </div>
                        <div class="phone">
                           <a href="tel:{{telephone}}"><i class="fas fa-phone"></i> <span>{{telephone}}</span></a>
                        </div>
                        <div class="header_section ">
                           <header id="header">
                              <div class="container">
                                 <div class="logo"><a href="{{base}}"><img src="{{logo}}" alt="Steeloncall"></a></div>
                                 <div class="hright">
                                    <div class="header_net">
                                       <div class="search-header">
                                          {{ search }}
                                       </div>
                                       <div class="web-top-nav">
                                          <ul class="signin-register ">
                                             <li class="signin"><a href="javascript:void(0);" id="signin_form" ><i class="far fa-user-circle"></i> Tài Khoản</a></li>
                                             
                                          </ul>
                                          <!-- Sign in model stars here -->
                                          <div id="signin_modal" class="modal">
                                             <!-- Modal content -->
                                             <div class="modal-content">
                                                <span class="close_modal"></span>
                                                <div class="model_form">
                                                   <h3>Đăng nhập</h3>
                                                   <ul class="signin_form">
                                                      <li>
                                                         <input type="email" placeholder="Your Email " />
                                                      </li>
                                                      <li>
                                                         <input type="password" placeholder="Password" />
                                                      </li>
                                                      <li><input type="checkbox" /><label for="">Remember Me</label></li>
                                                      <li><input type="submit" value="Login Now" /></li>
                                                   </ul>
                                                   <ul class="modal_register">
                                                      <li><a href="#" id="btn2">Đăng ký</a></li>
                                                      <li><a href="#" id="btn3">Quên mật khẩu ?</a></li>
                                                   </ul>
                                                </div>
                                                <div class="modal_footer">
                                                   <div class="modal_contact">
                                                      <i class="sprite sprite-tele"></i>
                                                      <div class="model_content_right">
                                                         <span>{{telephone}}</span>
                                                      </div>
                                                   </div>
                                                   <div class="modal_support">
                                                      <i class="sprite sprite-support_icon"></i>
                                                      <div class="model_content_right">
                                                         <a href = "mailto: {{email}}">{{email}}</a>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <!-- Sign in model ends here -->
                                          <!-- register now model starts here -->
                                          <div id="signin_modal2" class="modal">
                                             <!-- Modal content -->
                                             <div class="modal-content">
                                                <span class="close_modal2"></span>
                                                <div class="model_form">
                                                   <h3>Register With SteelonCall</h3>
                                                   <ul class="signin_form">
                                                      <li>
                                                         <input type="email" placeholder="Your Email " />
                                                      </li>
                                                      <li>
                                                         <input type="password" placeholder="Password" />
                                                      </li>
                                                      <li>
                                                         <input type="password" placeholder="Confirm Password" />
                                                      </li>
                                                      <li><input type="submit" value="REGISTER" /></li>
                                                   </ul>
                                                </div>
                                                <div class="modal_footer">
                                                   <div class="modal_contact">
                                                      <i class="sprite sprite-tele"></i>
                                                      <div class="model_content_right">
                                                         <span>{{telephone}}</span>
                                                      </div>
                                                   </div>
                                                   <div class="modal_support">
                                                      <i class="sprite sprite-support_icon"></i>
                                                      <div class="model_content_right">
                                                         <a href = "mailto: {{email}}">{{email}}</a>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <!-- register now model ends here -->
                                          <!-- forget password starts here -->
                                          <div id="forget_password" class="modal">
                                             <!-- Modal content -->
                                             <div class="modal-content">
                                                <span class="close_modal3"></span>
                                                <div class="model_form">
                                                   <h3>Bạn quên mật khẩu ?</h3>
                                                   <h4>Khôi phục mật khẩu tại đây</h4>
                                                   <p>Vui lòng nhập email chúng tôi sẽ gởi mật khẩu về email của bạn</p>
                                                   <ul class="signin_form">
                                                      <li>
                                                         <input type="email" placeholder="Enter an Email" />
                                                      </li>
                                                      <li><input type="submit" value="SUBMIT" /></li>
                                                   </ul>
                                                </div>
                                                <div class="modal_footer">
                                                   <div class="modal_contact">
                                                      <i class="sprite sprite-tele"></i>
                                                      <div class="model_content_right">
                                                         <span>{{telephone}}</span>
                                                      </div>
                                                   </div>
                                                   <div class="modal_support">
                                                      <i class="sprite sprite-support_icon"></i>
                                                      <div class="model_content_right">
                                                         <a href = "mailto: {{email}}">{{email}}</a>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <!-- forget password model ends here -->
                                       </div>
                                    </div>

                                 </div>
                              </div>
                              <div class="web-menu">
                                 <span class="menu-trigger">Menu</span>
                                 <nav class="web-nav">
                                    <div class="container">
                                       <ul class="nav desktop">
                                          {% if categories %}
                                             {% for category in categories %}
                                                <li>
                                                   <a href="{{category.href}}">{{category.name}}</a>
                                                   {% if category.children %}
                                                   <ul class="sub_menu">
                                                      {% for child in category.children %}
                                                      <li><a href="{{child.href}}">{{child.name}}</a></li>
                                                      {% endfor %}
                                                     
                                                   </ul>
                                                {% endif %}
                                                </li>
                                             {% endfor %}
                                          {% endif %}

                                          <li>
                                             <a href="{{manufacturer}}">Nhà sản xuất</a>
                                          </li>
                                          <li><a href="#">Tin tức ngành thép </a></li>
                                       </ul>
                                    </div>
                                 </nav>
                              </div>
                           </header>
                        </div>
                        <div class="mobile_signin_register">
                           <ul>
                              <li class="signin"><a href="#" id="signin_form1" ><span class="mlc">Tin tức ngành thép</span></a></li>
                              <li class="get_quote"><a href="{{quote}}"> Lấy báo giá</a></li>
                           </ul>
                        </div>
                     </div>