{{header}}
{{content_top}}
<div id="bodycon">
   <div class="container  home_max ">
      <div class="main-container col1-layout">
         <div class="" id="">
            <div class="main">
               <!-- <div class="breadcrumbs">
                  <ul>
                    <li class="home"> <a href="" title="Go to Home Page">Home</a> <span> &gt; </span> </li>
                    <li> <strong>Define</strong> </li>
                  </ul>
                  </div> -->
               <div class="col-main ">
                  <div class="std">
                     <p>
                     <div class="contentBox construction-cat-home">
                        <h3><span>Sản Phẩm</span></h3>
                        <p>Muathep.vn  - Đơn vị phân phối cấp một của các nhà máy thép có quy mô hàng đầu tại Việt Nam cũng như khu vực</p>
                        <div class="category_section">
                           <ul>
                              {% for category in categories %}
                              <li class="slide">
                                 <a href="{{category.href}}" title="{{category.name}}">
                                    <img src="{{category.image}}" alt="{{category.name}}" />

                                 </a>
                                 <h6><a href="{{category.href}}">{{category.name}}</a></h6>
                                 <h5><span>
                                    {% if category.children %}
                                       {% for child in category.children %}
                                          <a href="{{child.href}}">{{child.name}}</a>
                                       {% endfor %}
                                    {% endif %}
                                    </span>
                                 </h5>
                              </li>

                              {% endfor %}
                           </ul>
                        </div>
                     </div>
                     <!-- 14-10-2020 scripts -->
                     <!-- tabs scripts -->
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="our-brand">
   <div class="container">
      <div class="brandslist">
         <h2><a href="brands.html"><span>Đối Tác Của Chúng Tôi</span></a></h2>
         <p>Chúng tôi tự hào cung cấp các Sản phẩm Tốt nhất từ ​​các Thương hiệu Tốt nhất</p>
         <ul class="brand-ul responsive">
            {% for manufacturer in manufacturers %}
            <a href='{{manufacturer.href}}'>
               <li><img id='24' class='' src='{{manufacturer.image}}'></li>
            </a>
            {% endfor %}
         </ul>
      </div>
   </div>
</div>
<script src="catalog/view/theme/muathep.com/js/slick.min.js"></script>
<script>
   jQuery('.responsive').slick({
     dots: true,
     
     speed: 300,
     slidesToShow: 5,
     slidesToScroll: 5,
     autoplay: true,
     autoplaySpeed: 5000,
     responsive: [
       {
         breakpoint: 1024,
         settings: {
           slidesToShow: 3,
           slidesToScroll: 3,
           infinite: true,
           dots: true
         }
       },
       {
         breakpoint: 600,
         settings: {
           slidesToShow: 2,
           slidesToScroll: 2
         }
       },
       {
         breakpoint: 480,
         settings: {
           slidesToShow:2,
           slidesToScroll: 1
         }
       }
       // You can unslick at a given breakpoint now by adding:
       // settings: "unslick"
       // instead of a settings object
     ]
   });
   
</script>
<script src="catalog/view/theme/muathep.com/js/jquery.bxslider.js"></script>
<link rel="stylesheet" href="catalog/view/theme/muathep.com/css/jquery.bxslider.css">
{{content_bottom}}

{{footer}}