{{ header }}
<div id="bodycon">
  <div class="container   ">
     <div class="main-container col1-layout">
        <div class="contentBox contentWithSidebar productDetails" id="">
           <div class="main">
              <!-- <div class="breadcrumbs">
                 <ul>
                   <li class="home"> <a href="" title="Go to Home Page">Home</a> <span> &gt; </span> </li>
                   <li> <strong>Define</strong> </li>
                 </ul>
                 </div> -->
              <div class="col-main ">
                 <div class="std">
                    <p>
                    <div class="container getquote">
                       <h2 class="log-title">Tạo Yêu Cầu Báo Giá</h2>
                       <div class="rwsform">
                          <form method="post" id="form_order" name="myForm" action="{{savelink}}">
                             <div class="rwsform_inner">
                                <h3>Thông Tin liên hệ</h3>
                                <fieldset>
                                   <p class="input-box">  
                                      <input type="text" name="full_name" required autocomplete="off"  placeholder="Họ Tên"/>
                                   </p>
                                   <p class="input-box">  
                                      <input type="email" name="email" required autocomplete="off"  placeholder="Email-ID"/>
                                   </p>
                                   <p class="input-box">
                                      <input class="number_font" type="text" name="mobile_number"  maxlength="10" required autocomplete="off"  placeholder="Số Điện Thoại"/>
                                   </p>
                                   <p class="input-box">
                                      <input type="text" name="address" id="address" required autocomplete="off" placeholder="Địa Chỉ" />
                                   </p>
                                   <p class="input-box">
                                      <select name="city">
                                         <option value=""> Thành Phố </option>
                                         <option value="Hà Nội">Hà Nội </option>
                                         <option value="Đà Nẵng">Đà Nẵng</option>
                                         <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                                      </select>
                                   </p>
                                   <p class="input-box">
                                      <select name="district">
                                         <option value=""> Quận huyện </option>
                                         <option value="Thanh khê">Thanh khê </option>
                                         <option value="Hải Châu">Hải Châu</option>
                                         <option value="Liên chiểu">Liên chiểu</option>
                                      </select>
                                   </p>
                                </fieldset>
                                <h3>Thông Tin Đơn Hàng</h3>
                                <p class="note_quote">
                                  <b>Lưu ý : Quý khách có thể tạo yêu cầu báo giá bằng 3 cách </b><br/>
                                  1. Tải file thông tin báo giá. ( quý khách có thể tải lên file pdf, excel, word hoặc hình ảnh) <br/>
                                  2. Chat trực tiếp với chúng tôi (Click vào chatbox ở góc dưới tay phải màn hình)<br/>
                                  3. Nhập sản phẩm trực tiếp ( Quý khách có thể thêm sản phẩm số lượng ở nút nhập sản phẩm)<br/>
                                </p>
                                <fieldset>
                                   <div class="add_file">
                                      <input type="file" id="file" name="file" class="custom-file-input">
                                   </div>
                                   <div class="add_products"><span id="add_product">Nhập sản phẩm</span> </div>
                                   <div id="containerAlertMessages"></div>
                                   <div id="data">
                                      <table id='productData' has-product="0">
                                         <tbody id='#datatable'>
                                         </tbody>
                                      </table>
                                      <div class="noproduct"><p>Chưa có sản phẩm nào</p></div>

                                      <table id='productData' has-product="0" style="display:none">
                                         <thead>
                                            <tr>
                                               <td>Danh mục</td>
                                               <td>Sản phẩm</td>
                                               <td>Nhà sản xuất</td>
                                               <td>Mác thép</td>
                                               <td>Số lượng</td>
                                               <td>Đơn vị</td>
                                               <td>Đơn giá tạm tính</td>
                                            </tr>
                                         </thead>
                                         <tbody id='#datatable'>
                                            <tr>
                                                <td>
                                                  <select>
                                                   <select id="categoryName">
                                                      {% for category in categories %}         
                                                        <option value="{{category.category_id}}">{{category.name}}</option>
                                                      {% endfor %}
                                                    </select>
                                                  </select>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                         </tbody>
                                      </table>
                                      <div id="viewfile"></div>
                                   </div>
                                </fieldset>
                             </div>
                             <textarea rows="10"  style="display:none" placeholder="Ghi chú" id="ncommentote" name="comment"></textarea>
                             <input type="hidden" name="quote_from" value="website" /> 
                             <input type="hidden" name="file_attach" id="file_attach" value="" /> 
                             <p class="cmsubmit input-box">
                                <input type="submit" name="submit" value="Tạo Báo Giá" class="cmsubmit cs"/>
                             </p>

                          </form>
                       </div>
                    </div>
                   <!-- support desktop starts here --> 
                   <div id="add_modal_desktop" class="modal">
                      <!-- Modal content -->
                      <div class="modal-content">
                         <div class="modal-content-right">
                            <span class="add_product_close"></span>
                            <div class="model_form">
                               <h3>Thêm sản phẩm</h3>
                               <ul class="signin_form">
                                  <span id="support_login_error_box" style="display:none"></span>
                                  <span id="support_login_success_box" style="display:none"></span>
                                  <form name="support_form" id="support_form">
                                     <li>
                                       <select id="categoryName">
                                          {% for category in categories %}         
                                            <option value="{{category.category_id}}">{{category.name}}</option>
                                          {% endfor %}
                                        </select>
                                     </li>
                                     <li>
                                       <select id="productName">
                                          <option>Sản phẩm</option>
                                        </select>
                                     </li>
                                     <li>
                                       <select id="steelgrade">
                                          <option>Mác thép</option>
                                        </select>
                                     </li>
                                     <li>
                                       <select id="manufacturer">
                                          <option>Nhà cung cấp</option>
                                        </select>
                                     </li>
                                     <li>
                                        <input type="text" name="qty" id="qty" placeholder="Số lượng"  required='required' />
                                        <br/>
                                        <input type="hidden" name="weight_class" id="weight_class" value="" />
                                        <i><p id="note_qty"></p></i>
                                     </li>

                                     <li> <button type="button" class="btn-sumbmit" id="add_form">Thêm</button>  </li>
                                     <!--<input type="submit" value="SEND" />-->
                                  </form>
                               </ul>
                            </div>
                         </div>
                      </div>
                   </div>

<script>       

jQuery("#gpdf").click(function(e){
  var pdfdoc = new jsPDF();
  var specialElementHandlers = {
  '#ignoreContent': function (element, renderer) {
      return true;
    }
  };
  pdfdoc.fromHTML($j('#data').html(),10,10,{

  'width': 110,

  'elementHandlers': specialElementHandlers
  
  });
  pdfdoc.save('Baogia.pdf');
});
// get the modal  
var add_modal_desktop = document.getElementById('add_modal_desktop');
/*var model04 = document.getElementById('support_modal');
var model05 = document.getElementById('tracK_modal');*/
var model06 = document.getElementById('tracK_modal_desktop');

// get the button which opens the modal      
var add_btn_desktop = document.getElementById('add_product');
/*var btn4 = document.getElementById('btn4');
var btn5 = document.getElementById('btn5');*/

// get the close button which closes the modal  
var add_product_close = document.getElementsByClassName('add_product_close')[0];
/* var close_btn04 = document.getElementsByClassName('close_modal4')[0];
*/
var close_btn06 = document.getElementsByClassName('close_modal6')[0];
  
// when user clicks the button open the model
add_btn_desktop.onclick =  function(){
  add_modal_desktop.style.display = "block";
}

/*btn5.onclick =  function(){
  model05.style.display = "block";
}

expert_btn_desktop.onclick =  function(){
  expert_modal_desktop.style.display = "block";
}  */
  
// when the user clicks on close button close the model

add_product_close.onclick = function(e) {
  add_modal_desktop.style.display = "none";
};                  
   
</script>
<script>
 jQuery("#add_form").click(function(e){
     
 var container = jQuery("#productData");

 var datatable = jQuery("#datatable");

 if(container.attr("has-product") == 0){

    container.attr("has-product","1");

    container.css('display','');

    jQuery(".noproduct").css('display','none');
 }

 var categoryName = jQuery("#categoryName option:selected").text();
 var categoryName_id = jQuery("#categoryName").val();
 var product_id = jQuery("#productName").val();
 var productName = jQuery("#productName option:selected").text();
 var qty = jQuery("#qty").val();
 var weight_class = jQuery("#weight_class").val();
 var steelgrade = jQuery("#steelgrade option:selected").text();
 var manufacturer = jQuery("#manufacturer option:selected").text();
 var price = jQuery("#manufacturer option:selected").attr('price');
 var total_price = price*qty;
 container.append("<tr><td>"+categoryName+"</td><td>"+productName+"</td><td>"+manufacturer+"</td><td>"+steelgrade+"</td><td>"+qty+"</td><td>"+weight_class+"</td><td>"+total_price+"</td></tr>");
jQuery("#ncommentote").css('display','block');
var rowCount = container.length + 1;
  html = '';
  html = html+ "<input type='hidden' name='products["+rowCount+"][category]' value='"+categoryName_id+"'/>";
  html = html+ "<input type='hidden' name='products["+rowCount+"][product_id]' value='"+product_id+"'/>";
  html = html+ "<input type='hidden' name='products["+rowCount+"][name]' value='"+productName+"'/>";
  html = html+ "<input type='hidden' name='products["+rowCount+"][model]' value='"+steelgrade+'/'+categoryName+"'/>";
   html = html+ "<input type='hidden' name='products["+rowCount+"][qty]' value='"+qty+"'/>";
  html = html+ "<input type='hidden' name='products["+rowCount+"][price]' value='"+price+"'/>";
  html = html+ "<input type='hidden' name='products["+rowCount+"][total]' value='"+total_price+"'/>";
  container.append(html);
 return;
    
 
 //$container.append('<div id="answerdiv ' + $container.children().length + 1 + '"></div>');

 });

jQuery('#categoryName').change(function(e) {
  var categoryid = jQuery("#categoryName").val();
    $j.ajax({
        url: 'index.php?route=checkout/order/getProducts&category_id='+categoryid,
        type: "GET",
        dataType: 'json',
        success: function(data) {
          var html = '';
          $j.each(data, function( key, value ) {
            html = html+"<option value='"+ value['product_id'] +"'>"+ value['name'] + "</option>";
          });
          $j("#productName").empty().append(html);
      }
    });
});

jQuery('#productName').change(function(e) {
  var productid = jQuery("#productName").val();
    $j.ajax({
        url: 'index.php?route=checkout/order/getSteelGrade&product_id='+productid,
        type: "GET",
        dataType: 'json',
        success: function(data) {
          var html = '';
          $j.each(data, function( key, value ) {
            html = html+"<option value='"+ value['id'] +"'>"+ value['name'] + "</option>";
          });
          $j("#steelgrade").empty().append(html);
      }
    });

    $j.ajax({
        url: 'index.php?route=checkout/order/getProduct&product_id='+productid,
        type: "GET",
        dataType: 'json',
        success: function(data) {
          $j.each(data, function( key, value ) {
            text = 'Đơn vị tính '+ value['weight'];
            var weight_class = value['weight'];
            $j("#note_qty").text(text);
            $j("#weight_class").val(weight_class);
          });


          
      }
    });
});

jQuery('#steelgrade').change(function(e) {
  var steelgradeid = jQuery("#steelgrade").val();
  var productid = jQuery("#productName").val();
    $j.ajax({
        url: 'index.php?route=checkout/order/getSteelManufacturer&product_id='+productid+'&steelgrade_id='+steelgradeid,
        type: "GET",
        dataType: 'json',
        success: function(data) {
          var html = '';
          $j.each(data, function( key, value ) {
            html = html+"<option value='"+ value['id'] +"' price="+value['price']+">"+ value['name'] + "</option>";
          });
          $j("#manufacturer").css('display','block');
          $j("#manufacturer").empty().append(html);
      }
    });
});


jQuery("#file").on('change',function($) {
    var data = new FormData(jQuery('#form_order')[0]);
    $j.ajax({
      type: "POST",
      data: data,
      dataType : 'json',
      cache: false,
      contentType: false,
      processData: false,
      url: "index.php?route=tool/upload",
      success: function(data) {
        jQuery("#containerAlertMessages").html("<div id='alertMessages' class='alert alert-success'><strong>Tệp "+data['name']+" </strong> đã được tải lên thành công!</div>");
        jQuery('#file_attach').val(data['code']);

        if(data['type'] == 'pdf'){
            jQuery("#viewfile").html("<embed src='"+data['linkfile']+"' width='100%' height='500' type='application/pdf' >");
        }
        else {
          if(data['type'] == 'image'){
            jQuery("#viewfile").html("<image src='"+data['linkfile']+"' width='100%' />");
          }
          else{
              jQuery("#viewfile").html("<iframe src='https://view.officeapps.live.com/op/embed.aspx?src="+data['linkfile']+"' width='100%' height='500px' frameborder='0'></iframe>");
          }
        }
        jQuery(".noproduct").css('display','none');

      }

      });    
});
 
function removeRow(id){
  jQuery( "#product_row_"+id ).remove();
}
</script>
              </p>
           </div>
        </div>
     </div>
  </div>
</div>
</div>
</div>
<style type="text/css">
  #note_qty{padding:16px 20px; font-size: 18px}
</style>
{{ footer }} 