{{ header }}
<div id="bodycon">
  <div class="container">
    <div class="row">
      <div class="col-md-12 manufacturer-list">
        <div class="text-center">
          <h2>Nhà sản xuất</h2>
          <p>Muathep.com là trang thương mại điện tử về ngành thép đầu tiên tại Việt Nam, Chúng tôi cung cấp nhiều nhãn hiệu và sản xuất thép nổi tiếng tại Việt Nam, bằng sự hiểu biết của mình chúng tôi tạo ra 1 công cụ giúp khách hàng dễ dàng tìm hiểu và đặt hàng một cách nhanh chóng</p>
        </div>
      </div>
    </div>
  </div>

  <div id="product-manufacturer" class="container">
    {% for category in categories %}
      {% if category.manufacturer %}
      <div class="row">
      {% for manufacturers in category.manufacturer|batch(4) %}
       {% for manufacturer in manufacturers %}
        <div class="col-sm-3">
          <div class="manufacturer">
          <img src="{{manufacturer.image}}"/>
            <h4>{{ manufacturer.name }}</h4>
            <a class="p-2" href="{{ manufacturer.url }}" target="_blank">{{ manufacturer.url }}</a><br/>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal{{manufacturer.id}}">
              Xem chi tiết
            </button>
          </div>
          <div class="modal fade" id="Modal{{manufacturer.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">{{manufacturer.name}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  {{manufacturer.description}}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %} 
      
      {% endfor %}
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{{ footer }}