{{ header }}
<div id="bodycon">
  <div class="container">
    <div class="row">
      <div class="col-md-12 manufacturer-list">
        <div class="text-center">
          <h2>Nhà sản xuất</h2>
          <p>Muathep.com là trang thương mại điện tử về ngành thép đầu tiên tại Việt Nam, Chúng tôi cung cấp nhiều nhãn hiệu và sản xuất thép nổi tiếng tại Việt Nam, bằng sự hiểu biết của mình chúng tôi tạo ra 1 công cụ giúp khách hàng dễ dàng tìm hiểu và đặt hàng một cách nhanh chóng</p>
        </div>
      </div>
    </div>
  </div>

  <div id="product-manufacturer" class="container">
    <div class="row">
    <div class="col-md-3">
      <div id="list-example" class="list-group">
          {% for category in categories %}
            {% if category.manufacturer %}
                {% for manufacturers in category.manufacturer|batch(4) %}
                {% for manufacturer in manufacturers %}
                    <a class="nav-link" href="#item-1">{{ manufacturer.name }}</a>
                {% endfor %}
                {% endfor %}
            {% endif %}
          {% endfor %}
      </div>
    </div>
    <div class="col-md-9">
      <div data-spy="scroll" data-target="#navbar-example3" data-offset="0">
      {% for category in categories %}
        {% if category.manufacturer %}
        
        {% for manufacturers in category.manufacturer|batch(4) %}
         {% for manufacturer in manufacturers %}
            <div class="manufacturer">
              <h4 id="item-1"><a class="p-2" href="{{ manufacturer.url }}" target="_blank">{{ manufacturer.name }}</a></h4>
              <br/>
              {{manufacturer.description}}
            </div>
          {% endfor %} 
        
        {% endfor %}
        
        {% endif %}
      {% endfor %}
      </div>
    </div>
    </div>
  </div>
</div>
{{ footer }}