{{header}}
                     <div id="bodycon">
                        <div class="container">
                           <div class="contentBox contentWithSidebar">
                              <div class="content-left prod_listing">
                                 <div id="catalog-filters">
                                    <div class="block block-category-nav block-layered-nav">
                                       <div class="block-title">
                                          <h3 class="titleh3"><span></span>Product Listing</h3>
                                       </div>
                                       <div class="block-content">
                                          <ul id="category-sidebar-nav" class="category-sidebar-nav">
                                             <li class="level0 nav-1 active level-top first last parent">
                                                <a href="#" class="level-top">
                                                <span>Category</span>
                                                </a>
                                                <a href="javascript:void(0)" class="right show-cat">&nbsp;
                                                </a>
                                                <ul class="level0">
                                                  {% if categories %}
                                                    {% for category in categories %}
                                                       <li class="level1 nav-1-1 first">
                                                          <a href="{{category.href}}" alt="{{category.name}}">
                                                          <span>{{category.name}}</span>
                                                          </a>
                                                          {% if category.children %}
                                                            <ul class="level1">
                                                            {% for child in category.children %}
                                                               <li class="level2 nav-1-1-1">
                                                                  <a href="{{child.href}}" alt="{{child.name}}">
                                                                     <span>{{child.name}}</span>
                                                                  </a>
                                                               </li>
                                                            {% endfor %}
                                                            </ul>
                                                         {% endif %}
                                                       </li> 
                                                    {% endfor %}
                                                  {% endif %}
                                                </ul>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="content-right">
                                 <div class="main-container col2-left-layout">
                                    <div class="main">
                                       <div id="ptech_multilayer_container">
                                          <style>
                                             /* Style the tab */
                                             .tab { overflow: hidden; border: 1px solid #ccc;  background-color: #f1f1f1;}
                                             /* Style the buttons inside the tab */
                                             .tab button {  background-color: inherit;  float: left;  border: none;  outline: none;  cursor: pointer;  padding: 14px 16px;  transition: 0.3s;  font-size: 17px; }
                                             /* Change background color of buttons on hover */
                                             .tab button:hover {  background-color: #ddd;}
                                             /* Create an active/current tablink class */
                                             .tab button.active {  background-color: #ccc;}
                                             /* Style the tab content */
                                             .tabcontent {  display: none;  padding: 6px 12px;  border: 1px solid #ccc;  border-top: none;}
                                          </style>
                                          <div class="category-products">
                                                <div id="list-view">
                                                   <div class="list_products" style="margin-top: 80px;">
                                                      <table>
                                                         <tbody>
                                                            {% for product in products %}
                                                            <tr>
                                                               <li class="item first">
                                                                  <div class="list-item">
                                                                     <div class="price_total">
                                                                        <input type="hidden"  name="products[]" disabled>
                                                                        <td>
                                                                           <h6> <a title="{{product.name}}">{{product.name}}</a></h6>
                                                                        </td>
                                                                        <td>
                                                                           <div class="actions list_page" style="bottom: 135px;"><span class="button btn-cart"><code><kbd>Giá Từ <strong>{{product.price}}</strong></kbd></code></span></div>
                                                                        </td>
                                                                        <div class="ton-piece" id="list-price-L">
                                                                           <td>
                                                                              <p><input type="number" step="any"  name="weight[]"  class="weight weight_{{product.product_id}}"  data-prod="{{product.product_id}}" autocomplete="off"  placeholder="{{product.weight}}" /></p>
                                                                           </td>
                                                                           <!--<span class="catalog_or">(OR) </span>-->   
                                                                           <td>
                                                                              <p><input type="number" step="any"  name="length[]" pattern="0-9" class="length length_{{product.product_id}}" data-prod="{{product.product_id}}" autocomplete="off" placeholder="{{product.length}}" /></p>
                                                                           </td>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                               </li>
                                                            </tr>
                                                            {% endfor %}

                                                         </tbody>
                                                      </table>   
                                                   </div>
                                                </div>
                                          </div>
                                       </div>
                                       <!--   <div class="myorders-addr"></div> -->
                                    </div>
                                 </div>
                              </div>

                              <script>
                                 /*jQuery('#vss_solo_login_email').keyup(function(){*/
                                 jQuery(".weight").on("keyup", function (e) {
                                    var product_id = jQuery(this).attr('data-prod');

                                    var value = jQuery(this).val();

                                    jQuery.ajax({
                                       url: "index.php?route=product/category/convertWeightLenght",
                                       type: "POST",
                                       data: "product_id="+product_id+"&value="+value,
                                       success: function(data) {
                                          jQuery(".length_"+product_id).val(data.value_convert)
                                       }
                                    });
                                 });
                              </script>                              
                           </div>
                        </div>
                     </div>
   {{content_bottom}}
</div>
{{footer}}
