{% if position == 'content_bottom' %}
<script type="text/javascript" src="catalog/view/theme/muathep.com/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/muathep.com/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/muathep.com/js/lib/jquery/noconflict.js"></script>
<script src="catalog/view/theme/muathep.com/js/slick.min.js"></script>
<script>
   jQuery('.responsive').slick({
     dots: true,
     
     speed: 300,
     slidesToShow: 5,
     slidesToScroll: 5,
     autoplay: true,
     autoplaySpeed: 5000,
     responsive: [
       {
         breakpoint: 1024,
         settings: {
           slidesToShow: 3,
           slidesToScroll: 3,
           infinite: true,
           dots: true
         }
       },
       {
         breakpoint: 600,
         settings: {
           slidesToShow: 2,
           slidesToScroll: 2
         }
       },
       {
         breakpoint: 480,
         settings: {
           slidesToShow:2,
           slidesToScroll: 1
         }
       }
       // You can unslick at a given breakpoint now by adding:
       // settings: "unslick"
       // instead of a settings object
     ]
   });
   
</script>
<script>
   jQuery('p').each(function() {
       var $this = jQuery(this);
       if($this.html().replace(/\s|&nbsp;/g, '').length == 0)
           $this.remove();
   });
</script>   
<div class="blog-sec">
   <div class="container">
      <h2><span>{{heading_title}}</span></h2>
      <p>Chúng tôi luôn luôn cập nhật tin tức ngành thép một cách nhanh chóng</p>
      <ul>
         <div id="owl-example" class="owl-carousel">
            {% if newss  %}
            {% for news in newss %}
            <li>
               <a href="{{news.view}}"><img src="{{news.thumb}}" alt="{{news.name}}"/></a>
               <div class="blog_inner_c">
                  <div class="bl_cont">
                     <h4><a href="{{news.view}}">{{news.name}}</a></h4>
                     <p>{{news.description}}</p>
                  </div>
               </div>
            </li>
            {% endfor %}
            {% endif %}
         </div>
      </ul>
   </div>
</div>
<script src="catalog/view/theme/muathep.com/js/jquery.flexslider.js"></script>
<link rel="stylesheet" type="text/css" href="catalog/view/theme/muathep.com/css/owl.carousel.css">
<script src="catalog/view/theme/muathep.com/js/owl.carousel.js"></script>
<script>
   jQuery(document).ready(function() {
      jQuery("#owl-example").owlCarousel({
         responsive: true,
         items:4
   
      });    
   });
</script>
{% endif %}