<div class="blog-sec">
   <div class="container">
      <h2><span>{{heading_title}}</span></h2>
      <p>Chúng tôi luôn luôn cập nhật tin tức ngành thép một cách nhanh chóng</p>
      <ul>
         <div id="owl-example" class="owl-carousel">
            {% if all_news  %}
               {% for news in all_news %}
               <li>
                  <a href="{{news.view}}"><img src="{{news.image}}" alt="{{news.title}}"/></a>
                  <div class="blog_inner_c">
                     <div class="bl_cont">
                        <h4><a href="{{news.view}}">{{news.title}}</a></h4>
                        <p>{{news.description}}</p>
                     </div>
                  </div>
               </li>
               {% endfor %}
            {% endif %}
         </div>
      </ul>
   </div>
</div>
<script src="catalog/view/theme/muathep.com/js/jquery.flexslider.js"></script>
<link rel="stylesheet" type="text/css" href="catalog/view/theme/muathep.com/css/owl.carousel.css">
<script src="catalog/view/theme/muathep.com/js/owl.carousel.js"></script>
<script>
   jQuery(document).ready(function() {
      jQuery("#owl-example").owlCarousel({
         responsive: true,
         items:4

      });    
   });
</script>
